<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothplatestorage00;AccountKey=5OvPL/x7Y2ZsTl1HfD7eXPweGl4PPiSV72rKGKlx72VSGBVdr0TZ0f+MKJcbwOeHJSxwahqKjprkl1EkodMZCQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>