<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothstorageinit123;AccountKey=wAnxGkcYgDjzu7FH3rU4jzVqb62hAPsDmicbicAKP0H8ojCEk3Ujs7fLdmP+9xxrdDjYw1TrTIORPmEn9G81Ug==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>