<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollbooth;AccountKey=Dg/tOeArAVdW9KcZCIYccN+GguBwyk6+kNcbORUaXOF0O6rd7O0/VoYU5KwRJ54Dk2EVP5HoyQriwEk7XC9DBA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>